<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-push-2 col-sm-6 col-sm-push-3 text-center">
      <h1>
        {{ searchTerm | async }}
      </h1>
      <div class="definition">
        <p>{{ definition | async }}</p>
      </div>
      <button md-raised-button class="btn btn-default"  type="button" (click)="postWord()">Add to List</button>
      <button md-raised-button class="btn btn-default"  type="button" routerLink="/list">View My List</button>
      <button md-raised-button class="btn btn-default"  type="button" routerLink="/">Back</button>
    </div> <!--col-->
  </div> <!--row-->
</div> <!--container-->
